.home-body {
  margin: 0;
  background-image: url("https://previews.123rf.com/images/seamartini/seamartini1611/seamartini161100759/66211138-shopping-icons-set-vector-isolated-chalk-sketchhopping-items-on-blackboard-shopping-basket-price-t.jpg");

}


.page-title{
  background-color: #900C3F;
  color: #F7DC6F  ;
  text-align: center;
}

body {
  text-align: center;
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: #FAEBEB;

}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:#F7DC6F ;}

.dropbtn {
  background-color: #F7DC6F ;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


